img {
  margin-block: 5vw;
  flex-basis: 30%;
  max-width: 25em;
}
body {
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 100vh;
  background-color: #4a1521;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 50%;
  padding: 1rem;
  border: 2px solid rgb(64, 255, 179);
  border-radius: 20px;
  color: #2c0e14;
  font-size: 0.8rem;
}
a {
  color: rgb(21, 61, 85);
  text-decoration: none;
  line-height: 2;
}
span,
.card-link {
  font-weight: 600;
}
.card-link {
  margin: 1em;
  margin-block: 0.8em;
  font-size: 0.8rem;
  font-weight: 400;
}
.card-btn:hover .card-link {
  opacity: 95%;
  text-decoration: underline;
}
@media (max-width: 800px) {
  body {
    gap: 1em;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .card {
    min-width: 70%;
    font-size: 0.8em;
    padding: 0.7em;
  }
  .card h3,
  p {
    text-align: center;
  }
  .card-img-top {
    margin: auto;
    margin-top: 260px;
    min-width: 17em;
    max-width: 19em;
  }
}
