img {
      max-width: 30%;
      margin-block: 5vw;
    }
    body {
      justify-content: center;
      align-items: center;
      gap: 5vw;
      height: 100vh;
      background-color: rgb(107, 173, 147);
      display: flex;
    }
    .card {
      min-width: 50vw;
      max-width: 50vw;
      padding: 20px 50px;
      border: 2px solid rgb(64, 255, 179);
      border-radius: 20px;
    }
    a {
      color: rgb(21, 61, 85);
      text-decoration: none;
      line-height: 2;
    }
    span , a{
      font-weight: 600;
    }