.card-img-top {
  height: 10rem;
  width: 10rem;
}
.card {
  color: #2c0e14;
  min-height: 25rem;
  min-width: 18rem;
  padding-inline: 5px;
  background-color: #fdf6f0;
}
body {
  background-color: #4a1521;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-title {
  color: #2c0e14;
  font-size: 1.2rem;
}
p {
  font-size: 0.8rem;
}
a {
  margin-top: 12px;
  margin-inline: 55px;
}
h1,
.subtitle {
  color: #fdf6f0;
}
